.header-image-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
}

.header-image {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url("https://i.imgur.com/47Oq4M5.jpg");
  width: 110%;
  height: 50vh;
  background-size: cover;
  filter: brightness(35%);
}

.theme-container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.main-content-header {
  border-top: 5px solid #1976d2;
  margin-bottom: 35px;
}

h3 {
  font-size: 18px;
  text-align: center;
}

h3::after {
  content: "";
  display: block;
  width: 25%;
  margin: 2px auto 2vh;
  background-color: rgb(25, 118, 210);
  height: 3px;
}

.content-schedule {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
}

mat-calendar { 
  width: 40%;
  min-width: 320px;
}

.event-view {
  width: 60%;
  min-width: 320px;
}

p {
  text-align: center;
}

.content-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  width: 300px;
  height: 300px;
  justify-self: flex-end;
}

