<div
  [class]="'fb-'+minimizedViewData.type"
  [attr.data-href]="minimizedViewData.url"
  data-tabs="timeline,events,messages"
  [attr.data-width]="size.width" [attr.data-height]="size.height"
  [style.height]="size.height"
  data-small-header="true"
  data-adapt-container-width="true"
  data-hide-cover="true"
  data-show-text="true"
  data-show-facepile="true">
  <blockquote [attr.cite]="minimizedViewData.url" class="fb-xfbml-parse-ignore">
    <a mat-button [href]="minimizedViewData.url" target="_blank">Facebook Link</a></blockquote>
</div>