<div
  [class]="'fb-'+minimizedViewData.type"
  [attr.data-href]="minimizedViewData.url"
  data-tabs="timeline,events,messages"
  [style.height]="size.height | satinizer: 'style'"
  [attr.data-width]="size.width| satinizer: 'style'"
  [attr.data-height]="size.height| satinizer: 'style'"
  data-small-header="true"
  data-adapt-container-width="true"
  data-hide-cover="true"
  data-show-text="true"
  data-show-facepile="true">
  <blockquote
    [attr.cite]="minimizedViewData.url"
    class="fb-xfbml-parse-ignore">
    <a [href]="minimizedViewData.url" target="_blank"
    mat-button>Social Link</a>
  </blockquote>
</div>
