mat-icon {
  margin-right: 5px;
}

.date-sticker {
  font-size: 10px;
}

.date-sticker mat-icon {
  font-size: 20px;
}

.info-active {
  border: 3px solid #19d389;
}

.info-title {
  line-height: normal;
}
