<mat-card>
  <h2>
    DIRECTORIO
  </h2>

Dependencia	Representante	Correo Electronico	Teléfono	Anexos
GOBERNADOR REGIONAL	DR. FERNANDO ORIHUELA ROJAS	forihuela@regionjunin.gob.pe	064-602000	1302
VICEGOBERNADOR REGIONAL	CLEVER MERCADO MÉNDEZ	cmercado@regionjunin.gob.pe	064-602000	1301
SECRETARIA GENERAL	ABOG. HELEN SANDRA DIAZ HERRERA	hdiaz@regionjunin.gob.pe	064-602000	1304
GERENCIA GENERAL REGIONAL	ABOG. LOLY WIDER HERRERA LAVADO	lherrera@regionjunin.gob.pe	064-602000	1308
OFICINA REGIONAL DE CONTROL INSTITUCIONAL	LUIS CESAR SUAREZ CONDOR	lsuarez@regionjunin.gob.pe	064-602000	1316
PROCURADURIA PÚBLICA REGIONAL	ABOG. RODOLFO HIPÓLITO UNTIVEROS MATOS	huntiveros@regionjunin.gob.pe	064-602000	1521
OFICINA REGIONAL DE ASESORIA JURIDICA	ABOG. MERCEDES IRENE CARRION ROMERO	mcarrion@regionjunin.gob.pe	064-602000	1322
CONSEJO REGIONAL	ABOG. ANA MARIA CORDOVA CAPUCHO	acapucho@regionjunin.gob.pe	064-602000	1516
OFICINA REGIONAL DE COMUNICACIONES	LIC. TATIANA LIHU RODRIGUEZ RECUAY	trodriguez@regionjunin.gob.pe	064-602000	1312
OFICINA REGIONAL DE DESARROLLO INSTITUCIONAL Y TECNOLOGÍA DE LA INFORMACIÓN	ING. JOSÉ LUIS MEDINA ALIAGA	jmedina@regionjunin.gob.pe	064-602000	1501
GERENCIA REGIONAL DE PLANEAMIENTO, PRESUPUESTO Y ACONDIC. TERRITORIAL	CPC. WILLIAM JAVIER ACOSTA LAYMITO	wacosta@regionjunin.gob.pe	064-602000	1506
SUB GERENCIA DE INVERSIÓN PÚBLICA	ARQ. AUGUSTO FLORES PAITAN	aflores@regionjunin.gob.pe	064-602000	1711
SUB GERENCIA DE PRESUPUESTO Y TRIBUTACIÓN	CPC. YOANA MIRIAM AMABLE SALVA	yamable@regionjunin.gob.pe	064-602000	1510
SUB GERENCIA DE COOPERACIÓN TECNICA Y PLANEAMIENTO	ECO. JAIME JOHN ARAUJO OBREGON	jobregon@regionjunin.gob.pe	064-602000	1717
SUB GERENCIA DE ACONDICIONAMIENTO TERRITORIAL	CPC. PERCY RIVERA LADERA	privera@regionjunin.gob.pe	064-602000	1722
OFICINA REGIONAL DE ADMINISTRACIÓN Y FINANZAS	CPC. LUIS ALBERTO SALVATIERRA RODRIGUEZ	lsalvatierra@regionjunin.gob.pe	064-602000	1201
OFICINA DE ADMINISTRACIÓN FINANCIERA	CPC. OFELIA RIOS PACHECO	orios@regionjunin.gob.pe	064-602000	1204
OFICINA DE ABASTECIMIENTOS Y SERVICIOS AUXILIARES	CPC. MARCOS DOMINGO SARAVIA ALVARADO	msaravia@regionjunin.gob.pe	064-602000	1701
OFICINA DE RECURSOS HUMANOS	ABOG. RODRIGO LUYA PEREZ	rluya@regionjunin.gob.pe	064-602000	1622
OFICINA DE GESTIÓN PATRIMONIAL	EDUARDO CABANILLAS MANRIQUE	ecabanillas@regionjunin.gob.pe	064-602000	1419
GERENCIA REGIONAL DE RR.NN GESTIÓN MEDIO AMBIENTE	ING.RUBEN LUNA ALVAREZ	rluna@regionjunin.gob.pe	064-602000	1423
SUB GERENCIA DE RR.NN Y MEDIO AMBIENTE	ING. MARLENE LUZ CERRON RUIZ	mcerron@regionjunin.gob.pe	064-602000	1426
GERENCIA REGIONAL DE DESARROLLO ECONÓMICO	ECO.ROGELIO J. HUAMANI CARBAJAL	rhuamani@regionjunin.gob.pe	064-602000	1401
SUB GERENCIA DE PROMOCIÓN DE INVERSIONES	ECO. HEBERT R. QUINTE CHAVEZ	hquinte@regionjunin.gob.pe	064-602000	1405
GERENCIA REGIONAL DE DESARROLLO SOCIAL	LIC. CLEVER R. UNTIVEROS LAZO	cuntiveros@regionjunin.gob.pe	064-602000	1409
SUB GERENCIA DE DEFENSA CIVIL	ECO. BERTONE CHAVEZ VELA	bchavez@regionjunin.gob.pe	064-602000	1418
SUB GERENCIA DE DESARROLLO SOCIAL E IGUALDAD DE OPORTUNIDADES	LIC. BLADIMIR LOPEZ LEYVA	blopez@regionjunin.gob.pe	064-602000	1433
GERENCIA REGIONAL DE INFRAESTRUCTURA	ING. LUIS ANGEL RUIZ ORE	jflores@regionjunin.gob.pe	064-602000	1601
SUB GERENCIA DE SUPERVISION Y LIQUIDACIÓN DE OBRAS (E)	ING. AUGUSTO PAREDES TAIPE	lruiz@regionjunin.gob.pe	064-602000	1608
SUB GERENCIA DE OBRAS	ING. JOSE LUIS GARAY CERRON	jgaray@regionjunin.gob.pe	064-602000	1611
SUB GERENCIA DE ESTUDIOS	ING. ANTHONI AVILA ESCALANTE	aescalante@regionjunin.gob.pe	064-602000	1616
DIRECCION REGIONAL DE PRODUCCIÓN	ING. ROLANDO OSCAR SALAZAR CORDOVA	rsalazar@regionjunin.gob.pe	064-251203
DIRECCION REGIONAL DE TRANSPORTES Y COMUNICACIONES	ABOG. JOSE EDUARDO BENDEZÚ GUTARRA	jbendezu@regionjunin.gob.pe	064-233312
DIRECCIÓN REGIONAL DE VIVIENDA, CONSTRUCCIÓN Y SANEAMIENTO	ARQ. ADOLFO SANTOS RODRIGUEZ	asantos@regionjunin.gob.pe	064-410111
DIRECCIÓN REGIONAL DE COMERCIO EXTERIOR Y TURISMO	CPC. MAXIMO BUENDIA PAYANO	mpayano@regionjunin.gob.pe	064-222575
DIRECCIÓN REGIONAL DE TRABAJO Y PROMOCIÓN DEL EMPLEO	ABOG. EFRAIN CERRON LUJAN	ecerron@regionjunin.gob.pe	064-248827
DIRECCIÓN REGIONAL DE ENERGÍA Y MINAS	ING. CARLOS SABINO PALACIOS PEREZ	cpalacios@regionjunin.gob.pe	064-387512
DIRECCIÓN REGIONAL DE AGRICULTURA	ING. ULISES PANEZ BERAUN	upanez@regionjunin.gob.pe	064-251103
DIRECCIÓN REGIONAL DE EDUCACIÓN	LIC. DAVID ROBINSON HUATUCO FERRER	dhuatuco@regionjunin.gob.pe	064-252384
DIRECCIÓN REGIONAL DE SALUD	DR. COCO RAUL CONTRERAS CORDOVA	ccontreras@regionjunin.gob.pe	064-481270
DIRECCIÓN DE ARCHIVO REGIONAL	LIC. JOEL MARCELINO SALVADOR LAZO	jsalvador@regionjunin.gob.pe	064-585975
</mat-card>
