<mat-card>
  <h2>
    DIRECTORIO
  </h2>

Dependencia	Representante	Correo Electronico	Teléfono	Anexos
GOBERNADOR MUNICIPAL	DR. FERNANDO ORIHUELA ROJAS	forihuela@municipjunin.gob.pe	064-602000	1302
VICEGOBERNADOR MUNICIPAL	CLEVER MERCADO MÉNDEZ	cmercado@municipjunin.gob.pe	064-602000	1301
SECRETARIA GENERAL	ABOG. HELEN SANDRA DIAZ HERRERA	hdiaz@municipjunin.gob.pe	064-602000	1304
GERENCIA GENERAL MUNICIPAL	ABOG. LOLY WIDER HERRERA LAVADO	lherrera@municipjunin.gob.pe	064-602000	1308
OFICINA MUNICIPAL DE CONTROL INSTITUCIONAL	LUIS CESAR SUAREZ CONDOR	lsuarez@municipjunin.gob.pe	064-602000	1316
PROCURADURIA PÚBLICA MUNICIPAL	ABOG. RODOLFO HIPÓLITO UNTIVEROS MATOS	huntiveros@municipjunin.gob.pe	064-602000	1521
OFICINA MUNICIPAL DE ASESORIA JURIDICA	ABOG. MERCEDES IRENE CARRION ROMERO	mcarrion@municipjunin.gob.pe	064-602000	1322
REGIDORA MUNICIPAL	ABOG. ANA MARIA CORDOVA CAPUCHO	acapucho@municipjunin.gob.pe	064-602000	1516
OFICINA MUNICIPAL DE COMUNICACIONES	LIC. TATIANA LIHU RODRIGUEZ RECUAY	trodriguez@municipjunin.gob.pe	064-602000	1312
OFICINA MUNICIPAL DE DESARROLLO INSTITUCIONAL Y TECNOLOGÍA DE LA INFORMACIÓN	ING. JOSÉ LUIS MEDINA ALIAGA	jmedina@municipjunin.gob.pe	064-602000	1501
GERENCIA MUNICIPAL DE PLANEAMIENTO, PRESUPUESTO Y ACONDIC. TERRITORIAL	CPC. WILLIAM JAVIER ACOSTA LAYMITO	wacosta@municipjunin.gob.pe	064-602000	1506
SUB GERENCIA DE INVERSIÓN PÚBLICA	ARQ. AUGUSTO FLORES PAITAN	aflores@municipjunin.gob.pe	064-602000	1711
SUB GERENCIA DE PRESUPUESTO Y TRIBUTACIÓN	CPC. YOANA MIRIAM AMABLE SALVA	yamable@municipjunin.gob.pe	064-602000	1510
SUB GERENCIA DE COOPERACIÓN TECNICA Y PLANEAMIENTO	ECO. JAIME JOHN ARAUJO OBREGON	jobregon@municipjunin.gob.pe	064-602000	1717
SUB GERENCIA DE ACONDICIONAMIENTO TERRITORIAL	CPC. PERCY RIVERA LADERA	privera@municipjunin.gob.pe	064-602000	1722
OFICINA MUNICIPAL DE ADMINISTRACIÓN Y FINANZAS	CPC. LUIS ALBERTO SALVATIERRA RODRIGUEZ	lsalvatierra@municipjunin.gob.pe	064-602000	1201
OFICINA DE ADMINISTRACIÓN FINANCIERA	CPC. OFELIA RIOS PACHECO	orios@municipjunin.gob.pe	064-602000	1204
OFICINA DE ABASTECIMIENTOS Y SERVICIOS AUXILIARES	CPC. MARCOS DOMINGO SARAVIA ALVARADO	msaravia@municipjunin.gob.pe	064-602000	1701
OFICINA DE RECURSOS HUMANOS	ABOG. RODRIGO LUYA PEREZ	rluya@municipjunin.gob.pe	064-602000	1622
OFICINA DE GESTIÓN PATRIMONIAL	EDUARDO CABANILLAS MANRIQUE	ecabanillas@municipjunin.gob.pe	064-602000	1419
GERENCIA MUNICIPAL DE RR.NN GESTIÓN MEDIO AMBIENTE	ING.RUBEN LUNA ALVAREZ	rluna@municipjunin.gob.pe	064-602000	1423
SUB GERENCIA DE RR.NN Y MEDIO AMBIENTE	ING. MARLENE LUZ CERRON RUIZ	mcerron@municipjunin.gob.pe	064-602000	1426
GERENCIA MUNICIPAL DE DESARROLLO ECONÓMICO	ECO.ROGELIO J. HUAMANI CARBAJAL	rhuamani@municipjunin.gob.pe	064-602000	1401
SUB GERENCIA DE PROMOCIÓN DE INVERSIONES	ECO. HEBERT R. QUINTE CHAVEZ	hquinte@municipjunin.gob.pe	064-602000	1405
GERENCIA MUNICIPAL DE DESARROLLO SOCIAL	LIC. CLEVER R. UNTIVEROS LAZO	cuntiveros@municipjunin.gob.pe	064-602000	1409
SUB GERENCIA DE DEFENSA CIVIL	ECO. BERTONE CHAVEZ VELA	bchavez@municipjunin.gob.pe	064-602000	1418
SUB GERENCIA DE DESARROLLO SOCIAL E IGUALDAD DE OPORTUNIDADES	LIC. BLADIMIR LOPEZ LEYVA	blopez@municipjunin.gob.pe	064-602000	1433
GERENCIA MUNICIPAL DE INFRAESTRUCTURA	ING. LUIS ANGEL RUIZ ORE	jflores@municipjunin.gob.pe	064-602000	1601
SUB GERENCIA DE SUPERVISION Y LIQUIDACIÓN DE OBRAS (E)	ING. AUGUSTO PAREDES TAIPE	lruiz@municipjunin.gob.pe	064-602000	1608
SUB GERENCIA DE OBRAS	ING. JOSE LUIS GARAY CERRON	jgaray@municipjunin.gob.pe	064-602000	1611
SUB GERENCIA DE ESTUDIOS	ING. ANTHONI AVILA ESCALANTE	aescalante@municipjunin.gob.pe	064-602000	1616
DIRECCION MUNICIPAL DE PRODUCCIÓN	ING. ROLANDO OSCAR SALAZAR CORDOVA	rsalazar@municipjunin.gob.pe	064-251203
DIRECCION MUNICIPAL DE TRANSPORTES Y COMUNICACIONES	ABOG. JOSE EDUARDO BENDEZÚ GUTARRA	jbendezu@municipjunin.gob.pe	064-233312
DIRECCIÓN MUNICIPAL DE VIVIENDA, CONSTRUCCIÓN Y SANEAMIENTO	ARQ. ADOLFO SANTOS RODRIGUEZ	asantos@municipjunin.gob.pe	064-410111
DIRECCIÓN MUNICIPAL DE COMERCIO EXTERIOR Y TURISMO	CPC. MAXIMO BUENDIA PAYANO	mpayano@municipjunin.gob.pe	064-222575
DIRECCIÓN MUNICIPAL DE TRABAJO Y PROMOCIÓN DEL EMPLEO	ABOG. EFRAIN CERRON LUJAN	ecerron@municipjunin.gob.pe	064-248827
DIRECCIÓN MUNICIPAL DE ENERGÍA Y MINAS	ING. CARLOS SABINO PALACIOS PEREZ	cpalacios@municipjunin.gob.pe	064-387512
DIRECCIÓN MUNICIPAL DE AGRICULTURA	ING. ULISES PANEZ BERAUN	upanez@municipjunin.gob.pe	064-251103
DIRECCIÓN MUNICIPAL DE EDUCACIÓN	LIC. DAVID ROBINSON HUATUCO FERRER	dhuatuco@municipjunin.gob.pe	064-252384
DIRECCIÓN MUNICIPAL DE SALUD	DR. COCO RAUL CONTRERAS CORDOVA	ccontreras@municipjunin.gob.pe	064-481270
DIRECCIÓN DE ARCHIVO MUNICIPAL	LIC. JOEL MARCELINO SALVADOR LAZO	jsalvador@municipjunin.gob.pe	064-585975
</mat-card>
