<mat-card>
  <img [src]="profileData.image"
    alt="personal profile" />
  <mat-card-content>
    <h2>{{ profileData.name }}</h2>
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star_half</mat-icon>
    <mat-icon class="star">star_border</mat-icon>
    <p>{{ profileData.description }}</p>
    <div
      class="contact-links"
      *ngFor="let contactLink of profileData.contactLinks">
      <app-contact-link
        [contactLinkData]="contactLink"
        iconColor="#1976d2"></app-contact-link>
    </div>
  </mat-card-content>
  <div class="card-actions-container">
    <mat-divider></mat-divider>
    <div class="card-actions">
      <div class="social-links">
        <div class="social-link"
          *ngFor="let socialLink of profileData.socialLinks">
          <app-link
            className="icon"
            [linkData]="socialLink.link">
            <app-icon [pathProperties]="socialLink.icon"></app-icon>
          </app-link>
        </div>
      </div>
      <button mat-button routerLink="/main/document" disabled>VER PERFIL</button>
    </div>
  </div>
</mat-card>

