<div class="content-profile">
  <mat-card>
    <img [src]="profileData.image"
      alt="personal profile" />
    <mat-card-content>
      <h2>Lusia Manuel</h2>
      <mat-icon class="star">star</mat-icon>
      <mat-icon class="star">star</mat-icon>
      <mat-icon class="star">star</mat-icon>
      <mat-icon class="star">star</mat-icon>
      <mat-icon class="star">star</mat-icon>
      <p>{{ profileData.description }}</p>
      <div
        class="contact-links"
        *ngFor="let contactLink of profileData.contactLinks">
        <app-contact-link
          [contactLinkData]="contactLink"
          iconColor="#1976d2"></app-contact-link>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div class="social-links">
        <div class="social-link"
          *ngFor="let socialLink of profileData.socialLinks">
          <app-link
            className="icon"
            [linkData]="socialLink.link">
            <app-icon [pathProperties]="socialLink.icon"></app-icon>
          </app-link>
        </div>
      </div>
      <a mat-button routerLink="/main/document">VIEW PROFILE</a>
    </mat-card-actions>
  </mat-card>
</div>
