
mat-card {
  padding: 0;
  width: 333px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-content {
  padding: 16px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  margin: 0;
}

img {
  width: 333px;
  height: 330px;
  border-radius: 4px 4px 0 0;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

.star {
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: rgb(251, 192, 45);
}

p {
  margin: .5vh 0;
  font-size: 11px;
}

.contact-links {
  padding: 5px 0;
}

.card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 16px !important;
}

a {
  min-width: auto;
  color: #1976d2;
  padding: 0 2px;
}


