@import '../assets/css/spinner.css';

.content-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  opacity: 0;
  display: none;
}

.resuming {
  margin-top: 60px;
}