<app-section [sectionData]="sectionData" className="other">
  <div class="container">
    <div class="subheader">
      <h3>Encargado Principal</h3>
      <p class="icon-line"><mat-icon>contact_mail</mat-icon>
        webmaster@institutionalportal.com</p>
      <p>
        La Gerencia General Muncipal es el órgano ejecutivo del Gobierno Muncipal, responsable de coordinar, dirigir, controlar y supervisar a las Gerencias Muncipales y órganos desconcentrados, según corresponda, en las materias de su competencia. Está a cargo de un Gerente General Muncipal designado por la Presidencia Muncipal, siendo el responsable administrativo por los actos que ejecuta en el ejercicio de sus funciones y por los que suscribe conjuntamente con el Gobernador Muncipal.
      </p>
    </div>
    <div class="functions">
      <h3>Funciones</h3>
    </div>
    <ol>
      <li *ngFor="let functionData of functionsData"><span>{{ functionData }}</span></li>
    </ol>
  </div>
</app-section>


