<app-section [sectionData]="sectionData" className="other">
  <div class="container">
    <div class="subheader">
      <h3>Abog. Loly Wider Herrera Lavado</h3>
      <p class="icon-line"><mat-icon>contact_mail</mat-icon>
        lherrera@regionjunin.gob.pe</p>
      <p>
        La Gerencia General Regional es el órgano ejecutivo del Gobierno Regional, responsable de coordinar, dirigir, controlar y supervisar a las Gerencias Regionales y órganos desconcentrados, según corresponda, en las materias de su competencia. Está a cargo de un Gerente General Regional designado por la Presidencia Regional, siendo el responsable administrativo por los actos que ejecuta en el ejercicio de sus funciones y por los que suscribe conjuntamente con el Gobernador Regional.
      </p>
    </div>
    <div class="functions">
      <h3>Funciones</h3>
    </div>
    <ol>
      <li *ngFor="let functionData of functionsData"><span>{{ functionData }}</span></li>
    </ol>
  </div>
</app-section>


