:host {
  font-family: Montserrat !important;
  height: 20px;
  font-size: 12px;
  line-height: 1.7;
}

mat-toolbar {
  background: 0;
  min-height: 0;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 15px;
}

.social-links app-link {
  padding: 0 2px;
}

mat-toolbar-row {
  height: 32px;
  background: #1976d2;
  color: #ffffff;
  padding: 20px;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

app-contact-link {
  padding: 0 5px;
  border-right: 1px solid rgba(227,242,253,.2);
}

app-contact-link:last-of-type {
  border-right: none;
}

mat-toolbar-row {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  width: 100%;
  align-items: center;
  white-space: nowrap;
}
