<mat-toolbar>
  <div class="theme-container">
    <button mat-icon-button class="menu-button" (click)="onMenuChange()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="contact-links">
      <app-contact-link
        *ngFor="let header of headerLinks"
        [fontColor]="{ title: '#ffffff', subtitle: '#ffffff', icon: '#ffffff' }"
        [contactLinkData]="header"></app-contact-link>
    </div>
    <div>
      <div class="social-links">
        <app-link
          *ngFor="let linkIcon of linkIcons"
          className="icon"
          [linkData]="{ color: '#ffffff', path: linkIcon.path }">
          <app-icon [pathProperties]="linkIcon"></app-icon>
        </app-link>
      </div>
      <app-horizontal-menu></app-horizontal-menu>
    </div>
  </div>
</mat-toolbar>
<div class="against-theme-container"></div>
