<mat-toolbar>
  <div class="theme-container">
    <div class="contact-links">
      <app-contact-link
        *ngFor="let header of headerLinks"
        [contactLinkData]="header"></app-contact-link>
    </div>
    <div>
      <div class="social-links">
        <app-link
          *ngFor="let linkIcon of linkIcons"
          className="icon"
          [linkData]="{ color: '#ffffff', path: linkIcon.path }">
          <app-icon [pathProperties]="linkIcon"></app-icon>
        </app-link>
      </div>
      <app-menu-basic></app-menu-basic>
    </div>
  </div>
</mat-toolbar>
