:host {
  font-family: Montserrat !important;
  height: 20px;
  font-size: 12px;
  line-height: 1.7;
}

mat-toolbar {
  background: 0;
  min-height: 0;
}

mat-toolbar-row {
  height: 32px;
  background: #1976d2;
  color: #ffffff;
  padding: 20px 0;
}

.item {
  place-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  border-right: 1px solid rgba(227,242,253,.2);
  padding: 0 15px;
}

.item:last-child{
  border-right: none;
}


.item-separator {
  background-color: rgba(227,242,253,.2);
  width: 1px;
  height: 26px;
  margin: 0 16px;
}

mat-toolbar-row {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  width: 100%;
  align-items: center;
  white-space: nowrap;
}