<ng-container *ngIf="documentSources$ | async as documentSource">
	<h3 class="title">{{ documentSource.title | titlecase }}</h3>
	<app-table-icon
		[dataSource]="documentSource.documents"
		[displayedColumns]="displayedColumns"
		(changeIndexDocument)="srcSelected = $event"
	></app-table-icon>
	<div class="frame-container">
		<iframe
			*ngIf="srcSelected"
			[src]="'https://drive.google.com/file/d/'+srcSelected+'/preview' | satinizer: 'resourceUrl'"
			allowfullscreen
			width="100%"
			height="100%"
		></iframe>
	</div>
</ng-container>
