<app-section [sectionData]="sectionData" className="initial">
  <mat-card>
    <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, perspiciatis
      distinctio magni officia a animi eaque libero dolor! Aliquam quidem reprehenderit
      deserunt facere expedita provident quae doloribus veniam porro similique?</p>
    <div class="content">
      <div class="subsection">
        <div class="title-subsection">
          <mat-icon>business</mat-icon>
          <h2>Visión</h2>
        </div>
        <p>“Al 2030 integrado, moderno, transparente y ordenado, tiene alto nivel de desarrollo humano,
          ciudadanos emprendedores y exitosos, con acceso pleno a servicios básicos y especializados de calidad,
          crecimiento económico, industrializado y aprovechamiento sostenible de la biodiversidad y ecosistemas;
          vigoriza el proceso de grandes cambios y lidera la región centro”.</p>
      </div>
      <div class="subsection">
        <div class="title-subsection">
          <mat-icon>list_alt</mat-icon>
          <h2>Misión</h2>
        </div>
        <p>“Promover y Conducir el Desarrollo Integral, con competitividad,
          Enfoque de Cambio Climático y Gestión de Riesgos, Derechos e Igualdad de Oportunidad en el Marco de la
          Modernización del Estado”</p>
      </div>
    </div>
  </mat-card>
</app-section>
