<app-section [sectionData]="sectionData" className="initial">
  <div class="vission-mission">
    <div>
      <mat-card class="subtitle">
        <h2>Visión</h2>
      </mat-card>
      <mat-card>
        <p>“Al 2030 integrado, moderno, transparente y ordenado, tiene alto nivel de desarrollo humano,
          ciudadanos emprendedores y exitosos, con acceso pleno a servicios básicos y especializados de calidad,
          crecimiento económico, industrializado y aprovechamiento sostenible de la biodiversidad y ecosistemas;
          vigoriza el proceso de grandes cambios y lidera la región centro”.</p>
      </mat-card>
    </div>
    <div>
      <mat-card class="subtitle">
        <h2>Misión</h2>
      </mat-card>
      <mat-card>
        <p>“Promover y Conducir el Desarrollo Integral, con competitividad,
          Enfoque de Cambio Climático y Gestión de Riesgos, Derechos e Igualdad de Oportunidad en el Marco de la Modernización del Estado”</p>
      </mat-card>
    </div>
  </div>
</app-section>