p {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  place-content: center flex-start;
  margin-bottom: 0;
}

mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

span {
  padding: 0 .1em;
}

.title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 13px;
}
.subtitle {
  font-size: 8px;
}

.bold {
  font-weight: bold;
}
