<div class="content-main">
  <div class="main"></div>
  <div class="title">
    <h1>SANTA BÁRBARA DE CARHUACAYÁN</h1>
    <p><i>Gestión 2019 - 2022</i></p>
    <button mat-raised-button class="title-button">ABOUT US</button>
    <button mat-raised-button class="title-button">CONTACT</button>
  </div>
</div>
<div class="description-initial">
  <mat-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti delectus nam voluptatum consequatur, odio porro, asperiores aliquid veniam cumque unde rerum! Aliquid impedit facilis optio dicta blanditiis, voluptas assumenda porro?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, totam expedita? Pariatur veniam, excepturi est error delectus quos at, ipsam possimus deserunt impedit, quod ratione fugiat maxime praesentium nemo repellat!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit consectetur minima temporibus et, hic tenetur consequatur molestias ab natus illo alias, vel impedit delectus reprehenderit nesciunt dolorem odio inventore quos!
  </mat-card>
</div>
