<div class="content-main">
  <div class="main background-1">
    <img
      [style.visibility]="backgroundOne"
      (load)="loadMainBackground()"
      src="https://i.imgur.com/BVqHKT2.jpg"
      alt="background" />
  </div>
  <div class="main background-2">
    <img src="https://i.imgur.com/JZzafkz.jpg" alt="background" />
  </div>
  <div class="main background-3">
    <img src="https://i.imgur.com/XukERrn.jpg" alt="background" />
  </div>
  <div class="main background-4">
    <img src="https://i.imgur.com/47Oq4M5.jpg" alt="background" />
  </div>

  <div class="title">
    <h1>SANTA BÁRBARA DE CARHUACAYÁN</h1>
    <p><i>Gestión 2019 - 2022</i></p>
    <a mat-raised-button class="title-button" href="main#gallery-initial">GALERÍA</a>
    <a mat-raised-button class="title-button" href="main#contact">CONTACTO</a>
  </div>

</div>

<div class="description-initial">
  <mat-card>
    <mat-card-header>
      <mat-card-title>DOCUMENTOS DE TRANSPARENCIA</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-transparency-document></app-transparency-document>
    </mat-card-content>
  </mat-card>
</div>
<app-section-mayor></app-section-mayor>
<app-goal></app-goal>
<app-frecuent-link></app-frecuent-link>
<div id="gallery-initial" class="section-jump"></div>
<app-gallery-initial></app-gallery-initial>
<app-profiles></app-profiles>