.content-main {
  position: relative;
  z-index: 1;
  height: calc(100vh - 40px);
  overflow: hidden;
}

.main {
  position: absolute;
  top: 0;
  background-image: url("http://www.regionjunin.gob.pe//data/banner/nodata.jpg");
  width: 110%;
  height: 100%;
  background-size: 100% 100%;
  filter: brightness(70%);
  animation: pendulum 15s infinite;
  animation-direction: alternate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

h1 {
  font-size: 40px;
}

h1 + p {
  font-size: 28px;
}

@keyframes pendulum {
  from { transform: translateX(0); }
  to { transform: translateX(-7%); }
}




