.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  margin: auto;
  overflow-x: auto;
  padding: 35px 0;
}

.table-container mat-form-field {
  width: 50%;
  font-size: 14px;
}

.mat-table {
  border-spacing: 5px;
}

table {
  width: 100%;
  overflow-x: auto;
}

mat-paginator {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}
