.content-main {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
}

mat-drawer {
  width: 300px;
}

app-menu-basic {
  position: absolute;
  width: 100%;
}

.notifications {
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 20;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

app-notification {
  padding: 15px;
  border-radius: 5px;
}

.notifications mat-icon {
  font-size: 24px;
  color: #ffffff;
  animation: 8s linear infinite spin;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}