.content-main {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
}

mat-drawer-content {
  opacity: 0;
  animation: main-load 1s forwards;
}

@keyframes main-load {
  100% {
    opacity: 1;
  }
}

mat-drawer {
  width: 300px;
}

app-menu-basic {
  position: absolute;
  width: 100%;
}

.notifications, .transparency {
  position: fixed;
  z-index: 20;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.notifications {
  top: 40%;
  right: 0;
}
.transparency {
  bottom: 0;
  left: calc(50% - 20px);
}

app-notification {
  padding: 15px;
  border-radius: 5px;
}

.notifications mat-icon {
  font-size: 24px;
  color: #ffffff;
  animation: 8s linear infinite spin;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.transparency mat-icon {
  font-size: 24px;
  color: #ffffff;
  animation: 4s linear infinite updown;
}

@keyframes updown {
  0% { opacity: 1; transform: translateY(0px) scale(1); }
  25% { opacity: 0; transform: translateY(-10px) scale(0.9); }
  26% { opacity: 0; transform: translateY(10px) scale(0.9); }
  55% { opacity: 1; transform: translateY(0px) scale(1); }

}

