<mat-nav-list>
  <ng-container *ngFor="let item of items">
    <mat-list-item
      *ngIf="!item.children; else branch"
      [routerLink]="item.path"
      routerLinkActive="menu-active"
      (click)="onNavigate()"
      [routerLinkActiveOptions]="{ exact: item.routeActiveExact }"
    >{{ item.title }}</mat-list-item>
    <ng-template #branch>
      <mat-expansion-panel>
        <mat-expansion-panel-header>{{ item.title }}</mat-expansion-panel-header>
        <app-vertical-menu-item [items]="item.children" (closeChange)="onNavigate()"></app-vertical-menu-item>
      </mat-expansion-panel>
    </ng-template>
  </ng-container>
</mat-nav-list>