.mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}


.selected mat-panel-title, .selected mat-panel-description {
  color: #1976d2;
}

.selected mat-panel-title {
  font-weight: 600;
}
