.links {
  width: 90vw;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: row wrap;
}
.link {
  width: 40%;
  height: 40%;
  background-color: #ffffff;
  text-align: center;
}

app-review {
  width: 100%;
  display: flex;
  justify-content: center;
}

.link:hover {
  cursor: pointer;
  filter: brightness(85%);
}
