<div class="container-pre-footer">
  <img src="https://i.imgur.com/jpGZpmF.png" alt="personal pre footer">
  <div class="content-pre-footer">
    <div class="description">
      <h2>LOOKINK TO SELL YOUR HOME?</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisincing elit</p>
    </div>
    <div>
      <app-contact-link
        [contactLinkData]="contactLinkData"
        className="bold"
        [fontSize]="fontSize"
        ></app-contact-link>
    </div>
    <div class="get-in-touch">
      <button mat-raised-button>GET IN TOUCH</button>
    </div>
  </div>
</div>
