.container-pre-footer {
  width :95vw;
  margin: auto;
  position: relative;
  background: #1976d2;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: column wrap;
  padding: 1.5vh 0;
}

.container-pre-footer img {
  position: absolute;
  bottom: 0;
  width: 11vw;
  height: 16vh;
  z-index: 100;
}

.content-pre-footer {
  padding-left: 16vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: column wrap;
}

.description p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.description h2 {
  font-size: 21px;
}

.get-in-touch button {
  font-size: 14px;
}
