<div class="image-selected">
  <div
    class="background"
    [style.backgroundImage]="'url('+data.items[currentIndex]?.image+')'">
  <button mat-button class="left" color="primary">
    <mat-icon class="navigate" (click)="before()">navigate_before</mat-icon>
  </button>
  <mat-chip class="date-sticker" *ngIf="data.items[currentIndex].date">
    <mat-icon>schedule</mat-icon>
    {{ data.items[currentIndex]?.date | date: 'medium' }}</mat-chip>
  <button mat-button class="right" color="primary">
    <mat-icon class="navigate" (click)="next()">navigate_next</mat-icon>
  </button>
  </div>
  <div class="description">
    <h4>{{data.items[currentIndex]?.title}}</h4>
    <p>{{data.items[currentIndex]?.description}}</p>
  </div>
</div>
<div class="image-list">
  <div class="gallery" [class.selected]="currentIndex === i" *ngFor="let item of data.items; index as i">
    <img [src]="item.image" alt="List of Images" (click)="currentIndex = i" />
  </div>
</div>

