<div class="pre-section"></div>
<app-section className="other" [sectionData]="sectionData">
  <mat-card>
    <h2>
      ¿QUÉ ES UNA COORDINACIÓN DE REGIDORES?
    </h2>
    <p>
      Un órgano consultivo y de las Institutionalidades. Está integrado por los Alcaldes Provinciales y por los representantes de la sociedad civil, con las funciones y atribuciones que le señala la Ley Orgánica de Gobiernos Muncipales (Cuarto párrafo del Art. 11 de la Ley N° 27902, que modifica la Ley N° 27867).
    </p>
    <p>
      Este órgano debe estar instalada dentro de los primeros sesenta días naturales del año correspondiente  (vence el 01-03-11), (Art. 2º ley 28013).
    </p>
    <p>
      Para dicha implementación se designó al comité electoral de Coordinación de Regidores Institutionales mediante RESOLUCION EJECUTIVA MUNICIPAL N° 075 2011-GR-JUNÍN/PR.
    </p>
    <p>
      Comisión que mediante Oficio Nº 001-2011-GRJ/CE – CONCOREJ de fecha 22-02-11 informa la elección de los 06 miembros plenos de la Sociedad Civil, proceso que se efectuó mediante una Convocatoria amplia a través de los diversos medios de comunicación y que se inicio el 18 de Enero de 2011.
    </p>
    <p>
      El de Coordinación de Regidores Institutionales tiene por función emitir opinión consultiva sobre (Ley Nº 27902, Ley que modifica la Ley Orgánica de Gobiernos Muncipales Nº 27867):
    </p>
    <ul>
      <li>El Plan Anual y el Presupuesto Participativo Anual.</li>
      <li>El Plan de Desarrollo MuncipalConcertado.</li>
      <li>La visión general y los lineamientos estratégicos de los componentes del Plan de Desarrollo Muncipal Concertado.</li>
      <li>Otras que le encargue o solicite los regidores.</li>
    </ul>
    <h3>QUIENES INTEGRAN EL CCR</h3>
    <p>Está integrado por autoridades municipales, autoridades provinciales y la sociedad civil. ( 60% Autoridades: Presidente Muncipal y Alcaldes Provinciales y 40 % Sociedad Civil ). Compuesto de la siguiente manera:</p>
    <ol>
      <li>Resolucion Ejecutiva Muncipal Nº 252</li>
      <li>Convocatoria Oficial - Elección de los Representantes de la Sociedad Civil ante la Coordinación de Regodidores Institutionales Junín 2011-2013</li>
      <li>Lista de Miembros Plenos e Invitado</li>
    </ol>
    <h3>Miembros del Pleno:</h3>
    <p>Esta conformado por 16 miembros plenos</p>
    <ul>
      <li>El Presidente Muncipal quien lo preside, pudiendo delegar tal función en el Vicepresidente Muncipal</li>
      <li>09 Alcaldes Provinciales</li>
      <li>06 representantes de las Organizaciones de la Sociedad Civil</li>
    </ul>
    <h3>Miembros Invitados:</h3>
    <p>Esta conformado por 15 invitados</p>
    <ul>
      <li>09 Alcaldes Distritales</li>
      <li>06 representantes de las organizaciones de la Sociedad Civil</li>
    </ul>
  </mat-card>
  <mat-card>
    <h2>FUNCIONES DEL CCR</h2>
    <p>La función específica del CCR es concertar y opinar sobre los aspectos claves de la gestión departamental, entre ellos :</p>
    <ul>
      <li>El presupuesto participativo anual.</li>
      <li>El plan de desarrollo concertado.</li>
      <li>La visión y los lineamientos estratégicos de los programas que componen el plan departamental de desarrollo concertado.</li>
    </ul>
  </mat-card>
</app-section>