<div class="flex-row space-between mat-elevation-z1">
  <h2>MENU</h2>
  <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
</div>
<div class="vertical-menu-content">
  <mat-nav-list>
    <mat-list-item
      routerLink="/main"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon matListIcon>home</mat-icon>
      <a matLine><span class="home-button">Home</span></a>
    </mat-list-item>
  </mat-nav-list>
  <mat-nav-list>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Información Institucional
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item
          routerLink="/main/page/vission-mission" routerLinkActive="active"
        >Visión y Misión</mat-list-item>
        <mat-list-item
          routerLink="/main/page/official-symbol" routerLinkActive="active"
        >Símbolos Oficiales</mat-list-item>
        <mat-list-item
          routerLink="/main/news" routerLinkActive="active"
        >Estructura Orgánica</mat-list-item>
        <mat-list-item
          routerLink="/main/page" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >Gobernador Municipal</mat-list-item>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Registro Municipal
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item
            routerLink="/main/page/directory-council" routerLinkActive="active"
            >Directorio de Regidores</mat-list-item>
            <mat-list-item
            routerLink="/main/group/documents/regulations" routerLinkActive="active"
            >Reglamento Interno de Regidores</mat-list-item>
            <mat-list-item
            routerLink="/main/group/documents/ordinances" routerLinkActive="active"
            >Ordenanzas Municipales</mat-list-item>
            <mat-list-item
            routerLink="/main/group/documents/agreements" routerLinkActive="active"
            >Acuerdos Municipales</mat-list-item>
            <mat-list-item
            routerLink="/main/group/documents/ordinary-minutes" routerLinkActive="active"
            >Actas de Sesiones Ordinarias</mat-list-item>
            <mat-list-item
            routerLink="/main/group/documents/extraordinary-minutes" routerLinkActive="active"
            >Actas de Sesiones Extraordinarias</mat-list-item>
            <mat-list-item
            routerLink="/main/group/documents/ordinary-agenda" routerLinkActive="active"
            >Agenda de Sesiones Ordinarias</mat-list-item>
            <mat-list-item
            routerLink="/main/group/documents/extraordinary-agenda" routerLinkActive="active"
            >Agenda de Sesiones Extraordinarias</mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-list-item
          routerLink="/main/page/coordination-council" routerLinkActive="active"
        >coordinación de Regidores</mat-list-item>
        <mat-list-item
          routerLink="/auth" routerLinkActive="active"
        >Agendas Municipales</mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Gerencias y Oficinas
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item routerLink="/main/page/management" routerLinkActive="active"
          >Gerencia General Municipal</mat-list-item>
        <mat-list-item
          >Gerencias Municipales</mat-list-item>
        <mat-list-item
          routerLink="/main/page/prosecutor" routerLinkActive="active"
          >Procuraduría Pública Municipal</mat-list-item>
        <mat-list-item
          >Direcciones Municipales</mat-list-item>
        <mat-list-item
          routerLink="/main/page/directory" routerLinkActive="active"
          >Directorio Municipal</mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Servicios en Línea
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item routerLink="/main/page/labor" routerLinkActive="active"
          >Oportunidades Laborales</mat-list-item>
        <mat-list-item>Servidor de Documentos</mat-list-item>
        <mat-list-item
        routerLink="/main/page/consultation" routerLinkActive="active"
        >Consulta Expediente SIAF</mat-list-item>
        <mat-expansion-panel>
          <mat-expansion-panel-header>Sistemas Internos</mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item>InfoSIAF</mat-list-item>
            <mat-list-item>Control de Asistencia</mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-nav-list>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Imagen Institucional
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item routerLink="/main/group/documents/identity-manual" routerLinkActive="active"
          >Manual de Identidad Corporativa</mat-list-item>
        <mat-list-item>Archivo de Noticias</mat-list-item>
        <mat-list-item>Videos</mat-list-item>
        <mat-list-item>Galerías Fotográficas</mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-nav-list>
</div>
