<app-section [sectionData]="sectionData">
  <mat-card class="content">
    <h2>Estimados Ciudadanos</h2>
    <div>
      <p>Reciban un cordial saludo a nombre de mi persona.</p>
      <p>Sea esta la oportunidad para elevar mi compromiso de llevar un gobierno transparente, honrado y trabajador.</p>
      <p>Siempre encontrarán las puertas abiertas de nuestra región, donde podrán tener acceso a la información y servicios que estamos empeñados en brindarles sin ningún tipo de restricciones.</p>
      <p>Bajo la premisa, "Trabajando con la Fuerza del Pueblo", realizaremos las obras que estarán orientadas al desarrollo de nuestro distrito.</p>
      <p>En nuestra gestión haremos un uso eficiente de los recursos y con los convenios logrados forjaremos el desarrollo de toda nuestro distrito.</p>
      <p>Estimados ciudadanos, con el apoyo y esfuerzo de todos ustedes, haremos realidad los anhelos de convertir a nuestro distrito en un lugar más agradable, habitable y desarrollado, para que así podamos gozar de una mejor calidad de vida.</p>
    </div>
    <h4>Atentamente</h4>
  </mat-card>
  <mat-card class="person">
    <h3>Dr. Alcalde</h3>
    <p>¡Trabajando con la fuerza del Pueblo!</p>
  </mat-card>
</app-section>

