* {
  font-size: 12px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-primary {
  background-color: #0f3a4c;
  /* background-color: #673AB7; */
}
.bg-primary button {
  color: #ffffff;
}

.complete {
  width: 100% !important;
  height: 95% !important;

}


/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #262626
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #808080;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #202020;
} */
