mat-toolbar {
  display: flex;
  justify-content: center;
  background: 0 0 !important;
  flex-flow: column wrap;
  font: 500 20px/32px Montserrat;
}

button {
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  padding: 0 5px;
}

mat-toolbar-row {
  border-radius: 15px;
  padding: 5px 0;
}

mat-toolbar mat-toolbar-row {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  flex-flow: row wrap;
  height: 100%
}

