<mat-toolbar [className]="classSticky">
	<mat-toolbar-row>
    <button
      mat-icon-button
      routerLink="/main"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button class="title-button"
      routerLinkActive="active" [matMenuTriggerFor]="info">Información Institucional</button>
    <button mat-button class="title-button"
      routerLinkActive="active" [matMenuTriggerFor]="management">Gerencias y Oficinas</button>
    <button mat-button class="title-button"
      routerLinkActive="active" [matMenuTriggerFor]="services">Servicios en Línea</button>
    <button mat-button class="title-button"
      routerLinkActive="active" [matMenuTriggerFor]="image">Imagen Institucional</button>
	</mat-toolbar-row>
</mat-toolbar>
<mat-menu #info="matMenu" routerLinkActive="active">
  <button mat-menu-item routerLinkActive="menu-active"
   routerLink="/main/page/vission-mission">Visión y Misión</button>
  <button mat-menu-item routerLinkActive="menu-active" routerLink="/main/page/official-symbol">Símbolos Oficiales</button>
  <button mat-menu-item routerLinkActive="menu-active" routerLink="/main/news">Estructura Organica</button>
  <button mat-menu-item
    routerLinkActive="menu-active"
    routerLink="/main/page"
    [routerLinkActiveOptions]="{ exact: true }"
    >Gobernador Muncipal</button>
  <button mat-menu-item [matMenuTriggerFor]="coordinacion">Registro Municipal</button>
  <button mat-menu-item routerLinkActive="menu-active" routerLink="/main/page/coordination-council">Coordinacion de Regidores</button>
  <button mat-menu-item routerLink="/auth">Agendas Muncipales</button>
</mat-menu>
<mat-menu #management="matMenu">
  <button mat-menu-item routerLink="/main/page/management" routerLinkActive="menu-active">Gerencia General Muncipal</button>
  <button mat-menu-item>Gerencias Muncipales</button>
  <button mat-menu-item routerLink="/main/page/prosecutor" routerLinkActive="menu-active">Procuraduría Pública Muncipal</button>
  <button mat-menu-item>Direcciones Muncipales</button>
  <button mat-menu-item routerLink="/main/page/directory" routerLinkActive="menu-active">Directorio Muncipal</button>
</mat-menu>
<mat-menu #services="matMenu">
  <button mat-menu-item routerLink="/main/page/labor" routerLinkActive="menu-active">Oportunidades Laborales</button>
  <button mat-menu-item>Servidor de Documentos</button>
  <button mat-menu-item routerLink="/main/page/consultation" routerLinkActive="menu-active">Consulta Expediente SIAF</button>
  <button mat-menu-item [matMenuTriggerFor]="system">Sistemas Internos</button>
</mat-menu>
<mat-menu #image="matMenu">
  <button mat-menu-item
    routerLink="/main/group/documents/identity-manual"
    routerLinkActive="menu-active"
    >Manual de Identidad Corporativa</button>
  <button mat-menu-item>Archivo de Noticias</button>
  <button mat-menu-item>Videos</button>
  <button mat-menu-item>Galerías Fotográficas</button>
</mat-menu>



<mat-menu #coordinacion="matMenu">
  <button mat-menu-item 
    routerLink="/main/page/directory-council"
    routerLinkActive="menu-active"
    >Directorio de Regidores</button>
  <button mat-menu-item
    routerLink="/main/group/documents/regulations"
    routerLinkActive="menu-active"
    >Reglamento Interno de Regidores</button>
  <button mat-menu-item
    routerLink="/main/group//documents/ordinances"
    routerLinkActive="menu-active"
    >Ordenanzas Muncipales</button>
  <button mat-menu-item
    routerLink="/main/group/documents/agreements"
    routerLinkActive="menu-active"
    >Acuerdos Municipales</button>
  <button mat-menu-item
    routerLink="/main/group/documents/ordinary-minutes"
    routerLinkActive="menu-active"
    >Actas de Sesiones Ordinarias</button>
  <button mat-menu-item
    routerLink="/main/group/documents/extraordinary-minutes"
    routerLinkActive="menu-active"
    >Actas de Sesiones Extraordinarias</button>
  <button mat-menu-item
    routerLink="/main/group/documents/ordinary-agenda"
    routerLinkActive="menu-active"
    >Agenda de Sesiones Ordinarias</button>
  <button mat-menu-item
    routerLink="/main/group/documents/extraordinary-agenda"
    routerLinkActive="menu-active"
    >Agenda de Sesiones Extraordinarias</button>
</mat-menu>
<mat-menu #system="matMenu">
  <button mat-menu-item>InfoSIAF</button>
  <button mat-menu-item>Control de Asistencia</button>
</mat-menu>

