.no-sticky {
  background: 0;
  z-index: 15;
  color: #ffffff;
}

.no-sticky mat-toolbar-row {
  padding: 15px 0;
}

.active {
  background: rgba(25,118,210,.38);
}

.menu-active {
  background: rgba(25,118,210,.38);
  color: #1976d2 !important;
}

.menu-active:host-context() {
  background: rgba(25,118,210,.38);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  background: #ffffff;
  color: #262626;
  z-index: 15;
}

.sticky mat-toolbar-row {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 1px 5px 0 rgba(0,0,0,.12);
}

.sticky mat-toolbar-row .active {
  color: #1976d2;
}


button {
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  padding: 0 5px;
  z-index: 18;
}

mat-toolbar-row {
  padding: 5px 0;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  flex-flow: row wrap;
}

