mat-card {
  display: flex;
  flex-flow: row wrap;
  width: 80vw;
  height: 70%;
  box-sizing: border-box;
  padding: 0;
}

.background-init {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(https://i.imgur.com/CNEp4ur.png);
  background-repeat: repeat;
  background-size: 350px;
}

.goals {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 16px;
  box-sizing: border-box;
}

app-review {
  width: 50%;
  height: 50%;
}

background-init {
  position: absolute;
}

.background {
  width: 50%;
  height: 100%;
}

.background img {
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 850px) {
  .background {
    display: none;
  }

  .goals {
    width: 100%;
  }

}