<div class="content-frame">
  <h3>{{ data.name }}</h3>
  <iframe
  [src]="data.url | satinizer: 'resourceUrl'"
  allowfullscreen
  width="95%"
  height="95%"></iframe>
</div>
<!-- <pdf-viewer
  [src]="{
    url: data.src | satinizer: 'url',
    withCredentials: true
   }"
  [render-text]="true"
  style="display: block;"
></pdf-viewer> -->
<!-- <iframe
  src="https://docs.google.com/document/d/e/2PACX-1vQws3DAXZtE8ylyA1UJDb7G56Dhb1d1fTHtmNKdQZVML_JLe0r_SXX7kWRF-xjQ9nwo94seB4xWVDr0/pub?embedded=true"
  width="100%"
  height="100%"
></iframe> -->
