.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.first-content {
  padding: 0 25px;
}

.notifications {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: row wrap;
  overflow-x: auto;
}

.notifications img {
  width: 250px;
  height: 200px;
  margin: 5px;
  cursor: pointer;
  filter: brightness(70%);
}

.first {
  width: 350px;
  height: 250px;
  cursor: pointer;
  filter: brightness(70%);
}

.notifications img:hover, .first:hover {
  filter: brightness(100%);
}