<app-section 
  [sectionData]="{
    title: 'GALLERY',
    background: 'https://i.imgur.com/TZ8lanL.jpg'
  }"
  className="complete">
  <div class="container">
    <div class="first-content">
      <img class="first"
      *ngIf="imagesSource"
      [src]="imagesSource[0].link"
      (click)="openDetail(0)" />
    </div>
    <div class="notifications">
      <img
        *ngFor="let image of imagesSourceToDisplay; index as i"
        [src]="image.link"
        (click)="openDetail(i + 1)" />
    </div>
  </div>
</app-section>