<app-pre-footer></app-pre-footer>
<footer>
  <div class="header">
    <div>
      <h2>SUBSCRIBETE!!</h2>
      <p>Mantente Actualizado con nuestras Noticias y Eventos.</p>
    </div>
    <div>
      <form class="form-subscriber" [formGroup]="formHeader">
        <mat-form-field appearance="outline" [color]="'primary'">
          <input matInput type="email" formControlName="emailHeader" placeholder="Ingresar Correo..." />
          <mat-hint>example@gmail.com</mat-hint>
          <mat-error>El correo debe tener el formato de : example@gmail.com</mat-error>
        </mat-form-field>
        <button mat-raised-button class="subscribe">SUBSCRIBIRSE</button>
      </form>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <div class="description">
      <h2 class="title">Municipalidad de Santa Bárbara de Carhuacayán</h2>
      <p>Contactarse con el centro de Atención para enviar mensajes de recomendación y sugerencias.</p>
      <div class="contact-links">
        <div *ngFor="let contactLinkData of contactsLinkData" class="contact-link">
          <app-contact-link
            [contactLinkData]="contactLinkData"
            [fontColor]="{ icon: '#1976d2', title: '#ffffff', subtitle: '#ffffff' }">
          </app-contact-link>
        </div>
      </div>
      <div class="social-links">
        <div class="social-link"
          *ngFor="let socialLink of socialLinkData">
          <app-link className="icon" [linkData]="socialLink.link">
            <app-icon [pathProperties]="socialLink.icon"></app-icon>
          </app-link>
        </div>
      </div>
    </div>
    <div class="form-content">
      <h2>COMENTARIOS</h2>
      <p>Queremos sus comentarios sobre temas respectivos.</p>
      <form [formGroup]="formContent">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="emailContent" />
          <mat-hint>example@gmail.com</mat-hint>
          <mat-error>El correo debe tener el formato de : example@gmail.com</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mensaje</mat-label>
          <textarea matInput formControlName="messageContent"></textarea>
          <mat-error>El Mensaje no puede estar vacío!!!</mat-error>
        </mat-form-field>
        <div class="submit">
          <button mat-raised-button>SUBMIT</button>
        </div>
      </form>
    </div>
    <div class="map">
      <h2>NUESTRA UBICACIÓN</h2>
      <div><iframe width="100%" height="350"
          src="https://maps.google.com/maps?width=100%&amp;height=3500&amp;hl=en&amp;coord=-11.20419495,-76.28550543084211&amp;q=Plaza%2BPrincipal%2BSanta%2BB%C3%A1rbara%2Bde%2BCarhuacay%C3%A1n+(Santa%20B%C3%A1rbara%20de%20Carhuacay%C3%A1n)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
            href="https://www.maps.ie/coordinates.html">find my coordinates</a></iframe>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Copyright © 2020 All Rights Reserved</p>
    <p>
      Developed by
      <a mat-button href="https://github.com/48479567" target="_blank">Kid A</a>
      based in
      <a mat-button href="http://themeseason.com/" target="_blank">ThemeSeason</a>
    </p>
  </div>
</footer>
