.container-pre-footer {
  width :95vw;
  margin: auto;
  position: relative;
  background: #1976d2;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5vh 0;
}

.container-pre-footer img {
  position: absolute;
  bottom: 0;
  width : 16vw;
  height: 16vh;
}

.content-pre-footer {
  padding-left: 16vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description p {
  padding: 0;
  margin: 0;
}

button {
  padding: 0 5px;
  font-size: 10px;
  margin: 0;
  align-content: center;
}


