<app-section [sectionData]="sectionData">
  <div class="container">
    <div class="subheader">
      <p>En General para comunicarse con los regidores municipales usted puede comunicarse al mismo número:</p>
      <p class="icon-line"><mat-icon>phone</mat-icon>(064) 602 000 - 1516</p>
    </div>

    <div class="mat-elevation-z1 councilor"
      *ngFor="let councilor of directoryCouncilList; index as i">
      <h3># {{ i + 1 }} - {{ councilor.roleTitle }}</h3>
      <p class="icon-line"><mat-icon>contacts</mat-icon>
        <b>Nombres: </b>{{ councilor.name }}</p>
      <p class="icon-line"><mat-icon>business</mat-icon>
        <b>Cargo: </b>{{ councilor.role }}</p>
      <p class="icon-line"><mat-icon>contact_mail</mat-icon>
        <b>Correo Electrónico: </b>{{ councilor.email }}</p>
      <p class="icon-line"><mat-icon>access_time</mat-icon>
        <b>Inicio de Cargo: </b>{{ councilor.roleStart }}</p>
    </div>
  </div>
</app-section>

