<app-section [sectionData]="sectionData" className="other">
  <div class="container">
    <div class="subheader">
      <h3>Abog. Loly Wider Herrera Lavado</h3>
      <h4>Procurador Publico Regional</h4>
      <p class="icon-line">
        <mat-icon>contact_mail</mat-icon>
        huntiveros@regionjunin.gob.pe
      </p>
      <div class="article">
        <p>
          <b>ARTÍCULO 30º.-</b> Procuraduría Pública Regional La Procuraduría Pública Regional ejercita la
          representación y defensa en los procesos y procedimientos en los que el Gobierno Regional Junín actúe como
          demandante, demandado, denunciante, denunciado o parte civil, pudiendo prestar confesión en juicio en
          representación del Gobierno Regional y convenir en la demanda o desistirse de ella o transigir en juicio
          previamente autorizado por Resolución Ejecutiva Regional, con acuerdo de los Gerentes Regionales.
        </p>
        <p>La Procuraduría Pública Regional está a cargo de un Procurador Público Regional designado por el Presidente
          Regional, previo concurso público de méritos.
        </p>
      </div>
      <div class="article">
        <p><b>ARTÍCULO 31º.-</b> Funciones del Procurador Público Regional
        </p>
        <p>Son funciones del Procurador Público Regional:
        </p>
      </div>
    </div>
    <div class="functions">
      <h3>Funciones</h3>
      <div *ngFor="let functionData of functionsData">
        <mat-icon class="functions-icon">check</mat-icon><p>{{ functionData }}</p>
      </div>
    </div>
  </div>
</app-section>