<app-section [sectionData]="sectionData" className="other">
  <div class="container">
    <div class="subheader">
      <h3>Abog. Loly Wider Herrera Lavado</h3>
      <h4>Procurador Publico Muncipal</h4>
      <p class="icon-line">
        <mat-icon>contact_mail</mat-icon>
        huntiveros@municipjunin.gob.pe
      </p>
      <div class="article">
        <p>
          <b>ARTÍCULO 30º.-</b> Procuraduría Pública Muncipal La Procuraduría Pública Muncipal ejercita la
          representación y defensa en los procesos y procedimientos en los que el Gobierno Muncipal Junín actúe como
          demandante, demandado, denunciante, denunciado o parte civil, pudiendo prestar confesión en juicio en
          representación del Gobierno Muncipal y convenir en la demanda o desistirse de ella o transigir en juicio
          previamente autorizado por Resolución Ejecutiva Muncipal, con acuerdo de los Gerentes Muncipales.
        </p>
        <p>La Procuraduría Pública Muncipal está a cargo de un Procurador Público Muncipal designado por el Presidente
          Muncipal, previo concurso público de méritos.
        </p>
      </div>
      <div class="article">
        <p><b>ARTÍCULO 31º.-</b> Funciones del Procurador Público Muncipal
        </p>
        <p>Son funciones del Procurador Público Muncipal:
        </p>
      </div>
    </div>
    <div class="functions">
      <h3>Funciones</h3>
      <div *ngFor="let functionData of functionsData">
        <mat-icon class="functions-icon">check</mat-icon><p>{{ functionData }}</p>
      </div>
    </div>
  </div>
</app-section>