.content-profiles {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.profiles-button {
  padding: 3px 0;
}

app-profile {
  margin-bottom: 3px;
}
